.bloco {
	margin-left: 25%;
	margin-right: 25%;
}

.desabilitado {
	background-color: #EAEAEA; 
	border-color: #ADADAD;
	color: #6B6B6B;
}

.obrigatorio {
	color: #DB2E30;
}

.condicional {
	color: #D6860E;
}

.inputFocus {
	box-shadow: 0 0 2px 1px #6CAD5D;
}

.pesquisavel {
	border-color: #0085F9;
}

/* inicio das definicoes do layout para o fieldset dos inputs de cadastro */
fieldset {
	background: #EDEFED;
	margin: 5px 10px 5px 10px;
	min-height: 100px;
	
}

fieldset {
	//border: 1px solid #5C7A4B;
	border: 1px solid #8AB66B;
	border-radius: 5px 5px 0 0;
	//border-bottom: 1px solid #5C7A4B;
	border-bottom: 1px solid #8AB66B;
}

legend {
	//background: #BDC9B7;
	background: #8AB66B;
	border-radius: 5px 5px 0 0;
	//border-top: 1px solid #5C7A4B;
	border-top: 1px solid #8AB66B;
	//color: #5C7A4B;
	color: white;
	//float: left;
	font-size: 15px;
	//font-weight: bold;
	margin-bottom: 5px;
	margin-left: 3px;
	padding: 5px;
}
/* fim das definicoes do layout para o fieldset dos inputs de cadastro */

.label, .input {
	float: left;
	height: 22px;
}


.input .checkbox {
	width: 15px;	
}

.input input[type='radio'] {
	width: 15px;	
}

.label {
	//font-weight: bold;
	margin-right: 1%;
	text-align: right;
	width: 15%;
}

.label_radio_button {
	float: left;
	margin-left: 0.5%;
	margin-right: 2%;
	text-align: left;
	width: 10%;
}

.input input {
	width: 100%;
}

.areatexto {
	height: 100px;
}

.areatexto textarea {
	height: 90%;
}

input:focus, textarea:focus, select:focus   {
	box-shadow: 0 0 2px 1px #6CAD5D;	
}
