<table style="border: 0; margin-bottom: 40px">
		<tbody>

			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 25px; text-align: left; font-weight: bold;">PLASTECNO</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 12px; text-align: right">www.plastecno.com.br</td>
			</tr>
			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 15px; text-align: left; font-weight: bold;">Representações
					e Com. LTDA.</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 8px; text-align: right">
					R. Alvarenga Peixoto, 487 – CEP: 05095-010 – Vila Anastácio – São Paulo – SP</td>
			</tr>
			<tr>
				<td colspan="2"
					style="color: #52774C; font-family: arial black; font-size: 8px; text-align: right">Contato:
					(11) 3021-9600 ou 3024-3330</td>
			</tr>
		</tbody>
	</table>
