<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<style type="text/css">
{conteudoCss}
</style>
</head>
<body>

	<table style="border: 0; margin-bottom: 20px">
		<tbody>

			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 15px; text-align: left; font-weight: bold;">PLASTECNO</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 12px; text-align: right">PABX:
					(11) 3021-9600 ou 3024-3330</td>
			</tr>
			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 10px; text-align: left; font-weight: bold;">Representações
					e Com. LTDA.</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 8px; text-align: right">
					{pedido.proprietario.nomeCompleto} - {pedido.proprietario.email}</td>
			</tr>
			
		</tbody>
	</table>

	<table style="border:0;">
		<tbody>
			<tr>
				<td class="label">Núm.:</td>
				<td colspan="3">{pedido.id}</td>
				<td class="label">Núm. Cli:</td>
				<td>{pedido.numeroPedidoCliente}</td>
				<td class="label">Dt Envio:</td>
				<td>{pedido.dataEnvioFormatada}</td>
			</tr>
			<tr>
				<td class="label">Fornecedor:</td>
				<td colspan="5">{pedido.representada.nomeFantasia}</td>
			</tr>
			<tr>
				<td class="label">Cliente:</td>
				<td colspan="3">{pedido.cliente.nomeCompleto}</td>
				<td class="label">CNPJ:</td>
				<td>{pedido.cliente.cnpj}</td>
				<td class="label">CPF:</td>
				<td>{pedido.cliente.cpf}</td>
			</tr>
			<tr>
				<td class="label" >Contato:</td>
				<td colspan="3">{pedido.contato.nome}</td>
				<td class="label" >Email:</td>
				<td >{pedido.contato.email}</td>
				<td class="label" >Fone:</td>
				<td >{pedido.contato.telefoneFormatado}</td>
			</tr>
			<tr>
				<td class="label" valign="top">Observação:</td>
				<td colspan="7" >{pedido.observacao}</td>
			</tr>
		</tbody>
	</table>
	
	<table class="listagem">
		<thead>
			<tr>
				<th class="descricaoTabela" colspan="11">{titulo}</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th>Item</th>
				<th>Qtde.</th>
				<th>Descrição</th>
				<th>{tipoPedido}</th>
				<th>Preço (R$)</th>
				<th>Unid. (R$)</th>
				<th>Total (R$)</th>
				<th>IPI (%)</th>
				<th>ICMS (%)</th>
				<th>Prazo (dias)</th>
				<th>NCM/CST</th>
			</tr>
		</thead>
		<tbody>
			<!-- O ALGORITMO DE GERACAO DE RELATORIO ENTENDERA APENAS QUANDO AS COLUNAS ESTIVEREM ESCRITAS TODAS NA MESMA LINHA, CASO CONTRARIO TEREMOS PROBLEMAS NA GERACAO DO PDF -->
			<tr{listaItem}><td style="text-align: center">{sequencial}</td><td style="text-align: center">{quantidade}</td><td style="text-align: left">{descricao}</td><td style="text-align: center">{tipoVenda}</td><td style="text-align: center">{precoVendaFormatado}</td><td style="text-align: center">{precoUnidadeFormatado}</td><td style="text-align: center">{precoItemFormatado}</td><td style="text-align: center">{aliquotaIPIFormatado}</td><td style="text-align: center">{aliquotaICMSFormatado}</td><td style="text-align: center">{prazoEntrega}</td><td style="text-align: center">{ncm}<br></br>/{tipoCst.codigo}</td></tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" style="text-align: right;">TOTAL SEM IPI:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorPedidoFormatado}</td>
			</tr>
			<tr>
				<td colspan="7" style="text-align: right;">TOTAL COM IPI:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorPedidoIPIFormatado}</td>
			</tr>
			<tr>
				<td colspan="7" style="text-align: right;">TOTAL SEM FRETE:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorTotalSemFreteFormatado}</td>
			</tr>
		</tfoot>
	</table>
	<table style="border: 0;">
		<tbody>
			<tr>
				<td style="text-align: right; font-size: 10px;" class="label">Frete:</td>
				<td style="text-align: left;">R${pedido.valorFreteFormatado}</td>
				<td style="text-align: left;">&#8226; Peças usinadas, considerar tolerâncias conforme Norma DIN 7168, grau médio.</td>
			</tr>
			<tr>
				<td style="text-align: right; font-size: 10px;" class="label">Transporte:</td>
				<td style="text-align: left;">{pedido.tipoEntrega} - {pedido.transportadora.nomeFantasia}</td>
				<td style="text-align: left;">&#8226; Preços sujeitos a reajuste, sem prévio aviso.</td>
			</tr>
			<tr>
				<td style="text-align: right; font-size: 10px;" class="label">Pagto:</td>
				<td style="text-align: left;">{pedido.formaPagamento}</td>
				<td style="text-align: left;">&#8226; Preços válidos para as dimensões e quantidades acima, qq. Alteração, precisaremos rever este orç.</td>
			</tr>
			<tr>
				<td style="text-align: right; font-size: 10px;" class="label">Validade:</td>
				<td style="text-align: left;">7 dias</td>
				<td style="text-align: left;">&#8226; Pedido mínimo R$150,00 (à vista). Pedido mínimo R$350,00 (faturado).</td>
			</tr>
			<tr>
				<td style="text-align: center;" colspan="3">&#8226; CHAPAS, TARUGOS, TUBOS e peças especiais em NYLON, TEFLON, UHMW, POLIURETANO, PP, PEAD, PVC, PEEK, PVDF, CELERON, FENOLITE, POLIACETAL , ACRÍLICO , PC</td>
			</tr>
			<tr>
				<td style="text-align: center;  font-weight: bold;" colspan="3">Para pagamento à vista: &#8226; Banco do Brasil - Ag. 4328-1, CC. 20551-6 &#8226; Banco Bradesco - Ag. 0031, CC. 81.405-9 &#8226; Itaú - Ag. 5589, CC. 12260-4</td>
			</tr>
		</tbody>
	</table>
	<table style="border: 0; margin-bottom: 40px">
		<tbody>
			<tr>
				<td style="font-family: arial black; font-size: 8px; text-align: center">
					R. Alvarenga Peixoto, 487 – CEP: 05095-010 – Vila Anastácio – São Paulo – SP &#8226; CNPJ:{pedido.representada.cnpj} &#8226; Insc. Est.:{pedido.representada.inscricaoEstadual}</td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>