<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<style type="text/css">
{conteudoCss}
</style>
</head>
<body>

	<table style="border: 0; margin-bottom: 40px">
		<tbody>

			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 25px; text-align: left; font-weight: bold;">PLASTECNO</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 12px; text-align: right">www.plastecno.com.br</td>
			</tr>
			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 15px; text-align: left; font-weight: bold;">Representações
					e Com. LTDA.</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 8px; text-align: right">
					R. Alvarenga Peixoto, 487 – CEP: 05095-010 – Vila Anastácio – São Paulo – SP</td>
			</tr>
			<tr>
				<td colspan="2"
					style="color: #52774C; font-family: arial black; font-size: 8px; text-align: right">Contato:
					(11) 3021-9600 ou 3024-3330</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="6">{titulo}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="label">{tipoProprietario}:</td>
				<td colspan="5">{pedido.proprietario.nomeCompleto} - {pedido.proprietario.email}</td>
			</tr>
			<tr>
				<td class="label">Número:</td>
				<td>{pedido.id}</td>
				<td class="label">Ped. Cli.:</td>
				<td>{pedido.numeroPedidoCliente}</td>
				<td class="label">{tipoRelacionamento}:</td>
				<td>{pedido.representada.nomeFantasia}</td>
			</tr>
			<tr>
				<td class="label">Cliente:</td>
				<td colspan="3">{pedido.cliente.nomeCompleto}</td>
				<td class="label">Contato:</td>
				<td >{pedido.contatoFormatado}</td>
			</tr>
			<tr>
				<td class="label" style="width: 70px">Email NFe:</td>
				<td colspan="5">{pedido.cliente.email}</td>
			</tr>
			<tr>
				<td class="label" style="width: 70px">Endereço:</td>
				<td colspan="5">{logradouroFaturamento}</td>
			</tr>
			<tr>
				<td class="label">CNPJ:</td>
				<td>{pedido.cliente.cnpj}</td>
				<td class="label">CPF:</td>
				<td>{pedido.cliente.cpf}</td>
				<td class="label">Insc. Est.:</td>
				<td>{pedido.cliente.inscricaoEstadual}</td>
			</tr>
			<tr>
				<td class="label">Finalidade:</td>
				<td>{pedido.finalidadePedido.descricao}</td>
				<td class="label">Pagamento:</td>
				<td>{pedido.formaPagamento}</td>
			</tr>
			<tr>
				<td class="label">Tip. Entr.:</td>
				<td>{pedido.tipoEntrega.descricao}</td>
				<td class="label">Data Envio:</td>
				<td>{pedido.dataEnvioFormatada}</td>
				<td class="label">Data Entrega:</td>
				<td>{pedido.dataEntregaFormatada}</td>
			</tr>
			<tr>
				<td class="label">SUFRAMA:</td>
				<td colspan="2">{pedido.cliente.inscricaoSUFRAMA}</td>
			</tr>
		</tbody>
	</table>
	<table class="listagem">
		<thead>
			<tr>
				<th class="descricaoTabela" >Observações</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="informacaoAdicional">{pedido.observacao}</td>
			</tr>
		</tbody>
	</table>
	<table class="listagem">
		<thead>
			<tr>
				<th class="descricaoTabela" >Observações Produção</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="informacaoAdicional">{pedido.observacaoProducao}</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="6">Dados do Contato</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="label">Contato:</td>
				<td>{pedido.contato.nome}</td>
				<td class="label">Email:</td>
				<td>{pedido.contato.email}</td>
				<td class="label">Departamento:</td>
				<td>{pedido.contato.departamento}</td>
			</tr>
			<tr>
				<td class="label">Tel.:</td>
				<td>{pedido.contato.telefoneFormatado}</td>
				<td class="label">Ramal:</td>
				<td>{pedido.contato.ramal}</td>
				<td class="label">Fax:</td>
				<td>{pedido.contato.faxComHifen}</td>
			</tr>
			<tr>
				<td class="label">Cel.:</td>
				<td colspan="4" style="align: left">{pedido.contato.telefoneSecundarioFormatado}</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="2">Lista de Endereços</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="label">End. Fat.:</td>
				<td>{logradouroFaturamento}</td>
			</tr>
			<tr>
				<td class="label">End. Cob.:</td>
				<td>{logradouroCobranca}</td>
			</tr>
			<tr>
				<td class="label">End. Ent.:</td>
				<td>{logradouroEntrega}</td>
			</tr>
		</tbody>
	</table>
	<table>
		<thead>
			<tr>
				<th colspan="8">Transportadora</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="label">Transport.:</td>
				<td>{pedido.transportadora.nomeFantasia}</td>
				<td class="label">CNPJ:</td>
				<td>{pedido.transportadora.cnpj}</td>
				<td class="label">Insc. Estad.:</td>
				<td>{pedido.transportadora.inscricaoEstadual}</td>
				<td class="label">Contato:</td>
				<td>{pedido.transportadora.contatoPrincipal.nome} -
					{pedido.transportadora.contatoPrincipal.email} -
					{pedido.transportadora.contatoPrincipal.telefoneFormatado}</td>
			</tr>
			<tr>
				<td class="label">End. Transp.</td>
				<td colspan="7">{pedido.transportadora.logradouro.descricao}</td>
			</tr>
			<tr>
				<td class="label">Redesp.:</td>
				<td>{pedido.transportadoraRedespacho.nomeFantasia}</td>
				<td class="label">CNPJ:</td>
				<td>{pedido.transportadoraRedespacho.cnpj}</td>
				<td class="label">Insc. Estad.:</td>
				<td>{pedido.transportadoraRedespacho.inscricaoEstadual}</td>
				<td class="label">Contato:</td>
				<td>{pedido.transportadoraRedespacho.contatoPrincipal.nome} -
					{pedido.transportadoraRedespacho.contatoPrincipal.email} -
					{pedido.transportadoraRedespacho.contatoPrincipal.telefoneFormatado}</td>
			</tr>
			<tr>
				<td class="label">End. Redesp.</td>
				<td colspan="7">{pedido.transportadoraRedespacho.logradouro.descricao}</td>
			</tr>
		</tbody>
	</table>
	<table class="listagem">
		<thead>
			<tr>
				<th class="descricaoTabela" colspan="11">Lista de Itens do
					Pedido</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th>Item</th>
				<th>Qtde.</th>
				<th>Descrição</th>
				<th>{tipoPedido}</th>
				<th>Preço (R$)</th>
				<th>Unid. (R$)</th>
				<th>Total (R$)</th>
				<th>IPI (%)</th>
				<th>ICMS (%)</th>
				<th>Prazo (dias)</th>
				<th>NCM/CST</th>
			</tr>
		</thead>
		<tbody>
			<!-- O ALGORITMO DE GERACAO DE RELATORIO ENTENDERA APENAS QUANDO AS COLUNAS ESTIVEREM ESCRITAS TODAS NA MESMA LINHA, CASO CONTRARIO TEREMOS PROBLEMAS NA GERACAO DO PDF -->
			<tr{listaItem}><td style="text-align: center">{sequencial}</td><td style="text-align: center">{quantidade}</td><td style="text-align: left">{descricao}</td><td style="text-align: center">{tipoVenda}</td><td style="text-align: center">{precoVendaFormatado}</td><td style="text-align: center">{precoUnidadeFormatado}</td><td style="text-align: center">{precoItemFormatado}</td><td style="text-align: center">{aliquotaIPIFormatado}</td><td style="text-align: center">{aliquotaICMSFormatado}</td><td style="text-align: center">{prazoEntrega}</td><td style="text-align: center">{ncm}<br></br>/{tipoCst.codigo}</td></tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" style="text-align: right;">TOTAL SEM IPI:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorPedidoFormatado}</td>
			</tr>
			<tr>
				<td colspan="7" style="text-align: right;">TOTAL COM IPI:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorPedidoIPIFormatado}</td>
			</tr>
			<tr>
				<td colspan="7" style="text-align: right;">TOTAL SEM FRETE:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorTotalSemFreteFormatado}</td>
			</tr>
		</tfoot>
	</table>
	<table class="listagem">
		<thead>
			<tr>
				<th class="descricaoTabela">Informações Adicionais</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="informacaoAdicional">Informar o número deste pedido de compras em sua nota fiscal eletrônica.</td>
			</tr>
			<tr>
				<td class="informacaoAdicional">Enviar a nota fiscal eletrônica (XML e PDF) para <i style="text-decoration: underline;">plastecno@plastecno.com.br</i></td>
			</tr>
			<tr>
				<td class="informacaoAdicional">Horário de recebimento de mercadorias : segundas as sextas feiras, das 8 às 17:30 horas (sem intervalo de almoço).</td>
			</tr>
		</tbody>
	</table>
</body>
</html>