<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<style type="text/css">
{conteudoCss}
</style>
</head>
<body>

	{conteudoCabecalho}
	<table>
		<caption></caption>
		<thead>
			<tr>
				<th colspan="4">Vendas da Representada
					{representada.nomeFantasia} de {dataInicial} à {dataFinal}</th>
			</tr>
			<tr>
				<th>Dt. Envio</th>
				<th>No. Pedido</th>
				<th>Cliente</th>
				<th>Valor</th>
			</tr>
		</thead>
		<tbody>
			<!-- O ALGORITMO DE GERACAO DE RELATORIO ENTENDERA APENAS QUANDO AS COLUNAS ESTIVEREM ESCRITAS TODAS NA MESMA LINHA, CASO CONTRARIO TEREMOS PROBLEMAS NA GERACAO DO PDF -->
			<tr{listaPedido}><td style="text-align: center">{dataEnvioFormatada}</td><td style="text-align: center">{id}</td><td style="text-align: center">{cliente.razaoSocial}</td><td style="text-align: center">{valorPedidoFormatado}</td></tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td>TOTAL:</td>
				<td>R$ {totalVendido}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>COMISSÃO:</td>
				<td>R$ {valorComissao}</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>