* {
	font-family: arial black;
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
	border: 1px black solid;
	margin-bottom: 15px;
}

table thead tr th {
	font-size: 12px;
	background-color: #EDF2F0;
	font-weight: bold;
	padding: 5px 0 5px 0;
	text-align: center;
}

table tfoot tr td {
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

table tbody tr td {
	font-size: 8px;
}

table tbody tr td label {
	font-weight: bold;
}

.informacaoAdicional {
	font-size: 12px;
	text-align: center;
}

.label {
	font-weight: bold;
	text-align: right;
	width: 50px;
}

.listagem tbody tr td {
	text-align: center;
}