.flagOK {
	background: url("../images/ok_blue_16.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.flagNaoOK {
	background: url("../images/cross_red_16.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoAdicionarPicklist {
	background: url("../images/right_arrow_green_24.png") no-repeat scroll 0
		0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoRemoverPicklist {
	background: url("../images/left_arrow_green_24.png") no-repeat scroll 0
		0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.bloco_botoes {
	float: left;
	height: 30px;
	margin-bottom: 5px;
	width: 100%;
}

.bloco_botoes>a, .bloco_botoes>input, .bloco_botoes>label, .bloco_botoes form input
	{
	background-position: center center;
	float: right;
	margin-right: 5px;
}

.bloco_botoes>input, .bloco_botoes>label, .bloco_botoes form input {
	border: 0;
}

.bloco_botoes_edicao {
	height: 16px;
}

.bloco_botoes_edicao a {
	float: left;
	margin-right: 5%;
	position: relative;
	left: 10%;
}

.botaoAceitar {
	background: url("../images/accepted_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoAdicionar {
	background: url("../images/package_down_arrow_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoAnexar {
	background: url("../images/paperclip_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoAnexar:hover {
	background: url("../images/paperclip_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoCalculadora {
	background: url("../images/calculator_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoCalculadora:hover {
	background: url("../images/calculator_16.png") no-repeat scroll
		0 0 transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoCalculadoraPequeno {
	background: url("../images/calculator_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoCesta {
	background: url("../images/cesta_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoCesta:hover {
	background: url("../images/cesta_16.png") no-repeat scroll
		0 0 transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoCestaPequeno {
	background: url("../images/cesta_16.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoCarrinho {
	background: url("../images/carrinho_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoCarrinhoPequeno {
	background: url("../images/carrinho_16.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoCancelar {
	background: url("../images/minus_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoContactar {
	background: url("../images/phone_green_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoCopiar {
	background: url("../images/copy_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoCopiarPequeno {
	background: url("../images/copy_16.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoDinheiro {
	background: url("../images/money_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoDinheiroPequeno {
	background: url("../images/money_16.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoDetalhar_16 {
	background: url("../images/details_16.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoEndereco {
	background: url("../images/address_add_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoEditar {
	background: url("../images/pencil_orange_16.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoEditar_24 {
	background: url("../images/pencil_orange_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoRecortar {
	background: url("../images/scissor_24.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoRefazer {
	background: url("../images/go_back_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoEnviarEmail {
	background: url("../images/mail_send_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoImprimir {
	background: url("../images/printer_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoPDF {
	background: url("../images/pdf_24.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoPDFPequeno {
	background: url("../images/pdf_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoIncluir {
	background: url("../images/disk_arrow_down_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoInserir {
	background: url("../images/disk_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoInserirPequeno {
	background: url("../images/disk_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoLimpar {
	background: url("../images/broom_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoLimparPequeno {
	background: url("../images/broom_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoManutencao {
	background: url("../images/maintenance_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoPlanilha {
	background: url("../images/sheet_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoPlanilhaPequeno {
	background: url("../images/sheet_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoProximo {
	background: url("../images/next_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoAnterior {
	background: url("../images/previous_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoNF {
	background: url("../images/nf_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoNFPequeno {
	background: url("../images/nf_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoPesquisar {
	background: url("../images/search_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoPesquisarEstatistica {
	background: url("../images/chart_search_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoPesquisarMenos {
	background: url("../images/search_minus_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoTriangulo {
	background: url("../images/triangle_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoPesquisarPequeno {
	background: url("../images/search_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoTrianguloPequeno {
	background: url("../images/triangle_16.png") no-repeat scroll 0 0
		transparent;
	border: 0;
	cursor: pointer;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}

.botaoPdf_16, .botaoPdf_16_centro {
	background: url("../images/pdf_16.png") no-repeat scroll 0 0 transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoPdf_16_centro {
	margin-left: 2%;
}

.botaoPreco {
	background: url("../images/price_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoRemover {
	background: url("../images/minus_16.png") no-repeat scroll 0 0
		transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoLogin {
	background: url("../images/login_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoLogout {
	background: url("../images/logout_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoVerificar {
	background: url("../images/checked_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoVerificacaoFalhaGrande {
	background: url("../images/checked_red_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoVerificacaoFalhaPequeno {
	background: url("../images/checked_red_16.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoVerificacaoAguardadaGrande {
	background: url("../images/checked_yellow_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoVerificacaoAguardadaPequeno {
	background: url("../images/checked_yellow_16.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoVerificacaoEfetuadaGrande {
	background: url("../images/checked_green_24.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoVerificacaoEfetuadaPequeno {
	background: url("../images/checked_green_16.png") no-repeat scroll
		0 0 transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoVerificarPequeno {
	background: url("../images/checked_16.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoVoltar {
	background: url("../images/arrow_left_blue_24.png") no-repeat scroll 0 0
		transparent;
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.botaoAceitar:hover {
	background: url("../images/accepted_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoAdicionar:hover {
	background: url("../images/package_down_arrow_16.png") no-repeat scroll
		0 0 transparent;
	background-position: center center;
}

.botaoAdicionar_16 {
	background: url("../images/package_down_arrow_16.png") no-repeat scroll 0 0 transparent;
	border: none;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.botaoContactar:hover {
	background: url("../images/phone_green_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoCopiar:hover {
	background: url("../images/copy_16.png") no-repeat scroll
		0 0 transparent;
	background-position: center center;
}

.botaoDinheiro:hover {
	background: url("../images/money_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoImprimir:hover {
	background: url("../images/printer_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoPDF:hover {
	background: url("../images/pdf_16.png") no-repeat scroll 0 0 transparent;
	background-position: center center;
}

.botaoInserir:hover {
	background: url("../images/disk_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoEditar_24:hover {
	background: url("../images/pencil_orange_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoRefazer:hover {
	background: url("../images/go_back_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoEnviarEmail:hover {
	background: url("../images/mail_send_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoCarrinho:hover {
	background: url("../images/carrinho_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoCancelar:hover {
	background: url("../images/minus_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoLimpar:hover {
	background: url("../images/broom_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoLogin:hover {
	background: url("../images/login_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoLogout:hover {
	background: url("../images/logout_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoManutencao:hover {
	background: url("../images/maintenance_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoNF:hover {
	background: url("../images/nf_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoPlanilha:hover {
	background: url("../images/sheet_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoPreco:hover {
	background: url("../images/price_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoRecortar:hover {
	background: url("../images/scissor_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoVoltar:hover {
	background: url("../images/arrow_left_blue_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoVerificar:hover {
	background: url("../images/checked_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
	height: 24px;
	width: 24px;
}

.botaoVoltar:click {
	background: url("../images/arrow_left_blue_24.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoRemover:hover {
	background: url("../images/minus_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoProximo:hover {
	background: url("../images/next_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoAnterior:hover {
	background: url("../images/previous_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoPesquisar:hover {
	background: url("../images/search_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoTriangulo:hover {
	background: url("../images/triangle_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}

.botaoPesquisarEstatistica:hover {
	background: url("../images/chart_search_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}


.botaoPesquisarMenos:hover {
	background: url("../images/search_minus_16.png") no-repeat scroll 0 0
		transparent;
	background-position: center center;
}